In [2]:
import pandas as pd

### Lists scraped:

##### Minimal group - users

In [3]:
minimal_df = pd.read_csv('minimal.csv')
print(f'Total users: {minimal_df.shape[0]}')
minimal_df.head(2)

Total users: 320

,contributed,for_sale,images,in_collection,in_wantlist,lists,reviews,username
0,/contributions?user=teori,/seller/teori/profile,/user/teori/images,/user/teori/collection?header=1,/wantlist?user=teori,none,/user/teori/reviews?header=1,teori
1,none,none,none,none,/wantlist?user=bojosection,none,none,bojosection

In [4]:
drop = minimal_df[(minimal_df.in_collection == 'none') & (minimal_df.in_wantlist == 'none')].index
print(len(drop))

92

In [5]:
minimal_df.drop(labels=list(drop), axis='index', inplace=True)
print(f'Total users with either collections or wantlist: {minimal_df.shape[0]}')
minimal_users = minimal_df[['username', 'in_collection', 'in_wantlist']]
minimal_users.head(3)

Total users with either collections or wantlist: 228

,username,in_collection,in_wantlist
0,teori,/user/teori/collection?header=1,/wantlist?user=teori
1,bojosection,none,/wantlist?user=bojosection
2,BlackOctober,/user/BlackOctober/collection?header=1,/wantlist?user=BlackOctober

##### Selected_groups - users 
Incomplete scrape, double-click for groups

<!-- # Minimal 1117
# It's that Detroit Shit...90 - removed
# Chicago House 777 - removed
# Industrial,Ambient,Noise,Experimental,Neofolk 47- removed
# Acid - removed
# Dub [Techno] 89 - removed
# Ambient and Experimental 114
# Deepness 96 - removed
# House Music 451
# Underground House 1165
# 1990s mixtapes 7373
# Tech House 768 - removed
# Techno 1990-1999 575 -->

In [6]:
selected_groups_df = pd.read_csv('selected_groups.csv')
print(f'Total users: {selected_groups_df.shape[0]}')
selected_groups_df.head(2)

Total users: 14082

,contributed,for_sale,images,in_collection,in_wantlist,lists,reviews,username
0,/contributions?user=sgt,none,/user/sgt/images,/user/sgt/collection?header=1,none,none,/user/sgt/reviews?header=1,sgt
1,none,/seller/123Jan/profile,none,/user/123Jan/collection?header=1,/wantlist?user=123Jan,none,/user/123Jan/reviews?header=1,123Jan

In [7]:
drop = selected_groups_df[(selected_groups_df.in_collection == 'none') & (selected_groups_df.in_wantlist == 'none')].index
print(f'Users to drop: {len(drop)}')

Users to drop: 4008

In [8]:
selected_groups_df.drop(labels=list(drop), axis='index', inplace=True)
print(f'Total users with either collections or wantlist: {selected_groups_df.shape[0]}')
selected_groups_users = selected_groups_df[['username', 'in_collection', 'in_wantlist']]
selected_groups_users.head(3)

Total users with either collections or wantlist: 10074

  username                     in_collection            in_wantlist
0      sgt     /user/sgt/collection?header=1                   none
1   123Jan  /user/123Jan/collection?header=1  /wantlist?user=123Jan
2   117hao  /user/117hao/collection?header=1  /wantlist?user=117hao

##### (users.csv) - add later

##### subset groups - users

In [9]:
subset_df = pd.read_csv('subset.csv')
print(f'Total users: {subset_df.shape[0]}')
subset_df.head(2)

Total users: 1996

,contributed,for_sale,images,in_collection,in_wantlist,lists,reviews,username
0,none,none,none,/user/44Records/collection?header=1,/wantlist?user=44Records,none,none,44Records
1,/contributions?user=-DoNkEy-,none,/user/-DoNkEy-/images,/user/-DoNkEy-/collection?header=1,/wantlist?user=-DoNkEy-,/user/-DoNkEy-/lists?header=1,/user/-DoNkEy-/reviews?header=1,-DoNkEy-

In [10]:
drop = subset_df[(subset_df.in_collection == 'none') & (subset_df.in_wantlist == 'none')].index
print(f'Users to drop: {len(drop)}')

Users to drop: 530

In [11]:
subset_df.drop(labels=list(drop), axis='index', inplace=True)
print(f'Total users with either collections or wantlist: {subset_df.shape[0]}')
subset_users = subset_df[['username', 'in_collection', 'in_wantlist']]
subset_users.head(3)

Total users with either collections or wantlist: 1466

,username,in_collection,in_wantlist
0,44Records,/user/44Records/collection?header=1,/wantlist?user=44Records
1,-DoNkEy-,/user/-DoNkEy-/collection?header=1,/wantlist?user=-DoNkEy-
3,cranialitysounds,/user/cranialitysounds/collection?header=1,none

### Concat lists and export

In [12]:
final_users = pd.concat([minimal_users, selected_groups_users, subset_users], axis=0)
final_users.shape[0]

11768

In [13]:
final_users.duplicated().sum()

1625

In [14]:
final_users.drop_duplicates(inplace=True)

In [15]:
final_users.shape[0]

10143

In [16]:
final_users.to_csv('final_users.csv', index=False)