In [1]:
import numpy as np
import pandas as pd
import itertools
import re
import time
import math 
import os
from tqdm import tqdm
import sys
from datetime import datetime

##### Get current main_df.csv

In [22]:
main_df = pd.read_csv('main_df_0_to_50.csv')
main_df

       Unnamed: 0       user  artist_ids
0               0      teori           1
1               1      teori           2
2               2      teori           3
3               3      teori           4
4               4      teori           5
...           ...        ...         ...
18024       18024  jannerasi        3567
18025       18025  jannerasi       13808
18026       18026  jannerasi       58353
18027       18027  jannerasi        4592
18028       18028  jannerasi      193528

[18029 rows x 3 columns]

In [2]:
# main_df = pd.DataFrame(columns=['user', 'artist_ids'])
# main_df

Empty DataFrame
Columns: [user, artist_ids]
Index: []

#####  OR

In [18]:
main_df.columns

Index(['Unnamed: 0', 'user', 'artist_ids'], dtype='object')

In [25]:
main_df.drop('Unnamed: 0', axis=1, inplace=True)

In [26]:
main_df

            user  artist_ids
0          teori           1
1          teori           2
2          teori           3
3          teori           4
4          teori           5
...          ...         ...
18024  jannerasi        3567
18025  jannerasi       13808
18026  jannerasi       58353
18027  jannerasi        4592
18028  jannerasi      193528

[18029 rows x 2 columns]

#### Grab export_list from final_data and append it to main_df

### 1

In [3]:
%store -r export_list

In [4]:
print(f'export_list lenght: {len(export_list)}')
export_temp_user_list = [entry['user'] for entry in export_list]
print(f'all users in this list: {export_temp_user_list}')
print( )
print(f'LAST USER IN main_df: ----{main_df.user.iloc[-1]}----')
print(f'FIRST USER: ----{export_temp_user_list[0]}----')
print(f'LAST USER: {export_temp_user_list[-1]}')

export_list lenght: 30
all users in this list: ['cooksta72', 'chris92w', 'CHEX', 'cdiebel', 'catc1121', 'catalyst_ik', 'frozentransit', 'FriedCircuit', 'FrediFan', 'Flyz', 'Flev7', 'FireQueen', 'Fideelski', 'FernandSoares', 'fela-soul', 'fatdubs', 'fakeavi', 'escafeld', 'knochender', 'kenric', 'katkvlts', 'karson.meckeler', 'jweston', 'jonasmee01', 'Jonas-Lang', 'joaoalberto9009', 'jlsvinyl', 'jeremie0407', 'jbarger', 'jannerasi']

IndexError: single positional indexer is out-of-bounds

In [28]:
# check the total rows
rows = 0
for entry in export_list:
    rows += len(entry['artist_ids'])
print(f'Export list should add {rows} rows')

5975

In [29]:
print(f'Right now main_df has {main_df.shape[0]} rows and {main_df.user.value_counts().count()} users')

Right now main_df has 12054 rows

In [30]:
for entry in export_list:
    main_df = main_df.append(pd.DataFrame(entry), sort=False, ignore_index=True)

In [40]:
print(f'Now main_df has {main_df.shape[0]} rows and {main_df.user.value_counts().count()} users' )

Now main_df has 18029 rows and 50 users

In [11]:
main_df.to_csv('main_df_0_to_50.csv', index=False)

### 2

In [20]:
%store -r export_list

In [42]:
print(f'export_list lenght: {len(export_list)}')
export_temp_user_list = [entry['user'] for entry in export_list]
print(f'all users in this list: {export_temp_user_list}')
print( )
print(f'LAST USER IN main_df: ----{main_df.user.iloc[-1]}----')
print(f'FIRST USER: ----{export_temp_user_list[0]}----')
print(f'LAST USER: {export_temp_user_list[-1]}')

export_list lenght: 30
all users in this list: ['cooksta72', 'chris92w', 'CHEX', 'cdiebel', 'catc1121', 'catalyst_ik', 'frozentransit', 'FriedCircuit', 'FrediFan', 'Flyz', 'Flev7', 'FireQueen', 'Fideelski', 'FernandSoares', 'fela-soul', 'fatdubs', 'fakeavi', 'escafeld', 'knochender', 'kenric', 'katkvlts', 'karson.meckeler', 'jweston', 'jonasmee01', 'Jonas-Lang', 'joaoalberto9009', 'jlsvinyl', 'jeremie0407', 'jbarger', 'jannerasi']

LAST USER IN main_df: ----jannerasi----
FIRST USER: ----cooksta72----
LAST USER: jannerasi

In [46]:
# check the total rows
rows = 0
for entry in export_list:
    rows += len(entry['artist_ids'])
print(f'Export list should add {rows} rows')

Export list should add 5975 rows

In [53]:
print(f'Right now main_df has {main_df.shape[0]} rows and {main_df.user.value_counts().count()} users')

Right now main_df has 18029 rows and 50 users

In [15]:
for entry in export_list:
    main_df = main_df.append(pd.DataFrame(entry), sort=False, ignore_index=True)

In [54]:
print(f'Now main_df has {main_df.shape[0]} rows and {main_df.user.value_counts().count()} users' )

Now main_df has 18029 rows and 50 users

In [55]:
main_df

            user artist_ids
0          teori          1
1          teori          2
2          teori          3
3          teori          4
4          teori          5
...          ...        ...
18024  jannerasi       3567
18025  jannerasi      13808
18026  jannerasi      58353
18027  jannerasi       4592
18028  jannerasi     193528

[18029 rows x 2 columns]

In [18]:
main_df.to_csv('main_df_0_to_20.csv')